<b><h1>Time Series Data Acquisition

In [1]:
#Import

import requests
import math
import pandas as pd

Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.

In [2]:
response = requests.get('https://swapi.dev/api/')
print(response.text)

{"people":"https://swapi.dev/api/people/","planets":"https://swapi.dev/api/planets/","films":"https://swapi.dev/api/films/","species":"https://swapi.dev/api/species/","vehicles":"https://swapi.dev/api/vehicles/","starships":"https://swapi.dev/api/starships/"}

In [3]:
data = response.json()
data

{'people': 'https://swapi.dev/api/people/',
 'planets': 'https://swapi.dev/api/planets/',
 'films': 'https://swapi.dev/api/films/',
 'species': 'https://swapi.dev/api/species/',
 'vehicles': 'https://swapi.dev/api/vehicles/',
 'starships': 'https://swapi.dev/api/starships/'}

In [4]:
response = requests.get('https://swapi.dev/api/people')

In [5]:
data = response.json()

In [6]:
data['count']

82

In [7]:
df = pd.DataFrame(data['results'])
df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,https://swapi.dev/api/people/6/
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-10T15:53:41.121000Z,2014-12-20T21:17:50.319000Z,https://swapi.dev/api/people/7/
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/],[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,https://swapi.dev/api/people/8/
8,Biggs Darklighter,183,84,black,light,brown,24BBY,male,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/],[],[],[https://swapi.dev/api/starships/12/],2014-12-10T15:59:50.509000Z,2014-12-20T21:17:50.323000Z,https://swapi.dev/api/people/9/
9,Obi-Wan Kenobi,182,77,"auburn, white",fair,blue-gray,57BBY,male,https://swapi.dev/api/planets/20/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/38/],"[https://swapi.dev/api/starships/48/, https://...",2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,https://swapi.dev/api/people/10/

In [8]:
count = 8

while True:
    if count > 0:
        response = requests.get(data['next'])
        data = response.json()
        number_of_people = data['count']
        next_page = data['next']
        previous_page = data['previous']
        number_of_results = len(data['results'])
        max_page = math.ceil(number_of_people / number_of_results)
        print(f'number_of_people: {number_of_people}')
        print(f'next_page: {next_page}')
        print(f'previous_page: {previous_page}')
        print(f'number_of_results: {number_of_results}')
        print(f'max_page: {max_page}')
        df = pd.concat([df, pd.DataFrame(data['results'])])
        count -= 1
    else:
        break

number_of_people: 82
next_page: https://swapi.dev/api/people/?page=3
previous_page: https://swapi.dev/api/people/?page=1
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=4
previous_page: https://swapi.dev/api/people/?page=2
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=5
previous_page: https://swapi.dev/api/people/?page=3
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=6
previous_page: https://swapi.dev/api/people/?page=4
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=7
previous_page: https://swapi.dev/api/people/?page=5
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=8
previous_page: https://swapi.dev/api/people/?page=6
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: https://swapi.dev/api/people/?page=9
previous_page: https://swapi.dev/api/people/?page=7
number_of_results: 10
max_page: 9
number_of_people: 82
next_page: None
previous_page: https://swapi.dev/api/people/?page=8
number_of_results: 2
max_page: 41

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 1
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        82 non-null     object
 1   height      82 non-null     object
 2   mass        82 non-null     object
 3   hair_color  82 non-null     object
 4   skin_color  82 non-null     object
 5   eye_color   82 non-null     object
 6   birth_year  82 non-null     object
 7   gender      82 non-null     object
 8   homeworld   82 non-null     object
 9   films       82 non-null     object
 10  species     82 non-null     object
 11  vehicles    82 non-null     object
 12  starships   82 non-null     object
 13  created     82 non-null     object
 14  edited      82 non-null     object
 15  url         82 non-null     object
dtypes: object(16)
memory usage: 10.9+ KB

Do the same thing, but for planets.

In [10]:
response2 = requests.get('https://swapi.dev/api/planets')
data2 = response2.json()
data2['count']

60

In [11]:
df2 = pd.DataFrame(data2['results'])
df2

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/
5,Bespin,12,5110,118000,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0,6000000,[https://swapi.dev/api/people/26/],[https://swapi.dev/api/films/2/],2014-12-10T11:43:55.240000Z,2014-12-20T20:58:18.427000Z,https://swapi.dev/api/planets/6/
6,Endor,18,402,4900,temperate,0.85 standard,"forests, mountains, lakes",8,30000000,[https://swapi.dev/api/people/30/],[https://swapi.dev/api/films/3/],2014-12-10T11:50:29.349000Z,2014-12-20T20:58:18.429000Z,https://swapi.dev/api/planets/7/
7,Naboo,26,312,12120,temperate,1 standard,"grassy hills, swamps, forests, mountains",12,4500000000,"[https://swapi.dev/api/people/3/, https://swap...","[https://swapi.dev/api/films/3/, https://swapi...",2014-12-10T11:52:31.066000Z,2014-12-20T20:58:18.430000Z,https://swapi.dev/api/planets/8/
8,Coruscant,24,368,12240,temperate,1 standard,"cityscape, mountains",unknown,1000000000000,"[https://swapi.dev/api/people/34/, https://swa...","[https://swapi.dev/api/films/3/, https://swapi...",2014-12-10T11:54:13.921000Z,2014-12-20T20:58:18.432000Z,https://swapi.dev/api/planets/9/
9,Kamino,27,463,19720,temperate,1 standard,ocean,100,1000000000,"[https://swapi.dev/api/people/22/, https://swa...",[https://swapi.dev/api/films/5/],2014-12-10T12:45:06.577000Z,2014-12-20T20:58:18.434000Z,https://swapi.dev/api/planets/10/

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             10 non-null     object
 1   rotation_period  10 non-null     object
 2   orbital_period   10 non-null     object
 3   diameter         10 non-null     object
 4   climate          10 non-null     object
 5   gravity          10 non-null     object
 6   terrain          10 non-null     object
 7   surface_water    10 non-null     object
 8   population       10 non-null     object
 9   residents        10 non-null     object
 10  films            10 non-null     object
 11  created          10 non-null     object
 12  edited           10 non-null     object
 13  url              10 non-null     object
dtypes: object(14)
memory usage: 1.2+ KB

In [13]:
count = 5

while True:
    if count > 0:
        response2 = requests.get(data2['next'])
        data2 = response2.json()
        number_of_people = data2['count']
        next_page = data2['next']
        previous_page = data2['previous']
        number_of_results = len(data2['results'])
        max_page = math.ceil(number_of_people / number_of_results)
        print(f'number_of_people: {number_of_people}')
        print(f'next_page: {next_page}')
        print(f'previous_page: {previous_page}')
        print(f'number_of_results: {number_of_results}')
        print(f'max_page: {max_page}')
        df2 = pd.concat([df2, pd.DataFrame(data2['results'])])
        count -= 1
    else:
        break

number_of_people: 60
next_page: https://swapi.dev/api/planets/?page=3
previous_page: https://swapi.dev/api/planets/?page=1
number_of_results: 10
max_page: 6
number_of_people: 60
next_page: https://swapi.dev/api/planets/?page=4
previous_page: https://swapi.dev/api/planets/?page=2
number_of_results: 10
max_page: 6
number_of_people: 60
next_page: https://swapi.dev/api/planets/?page=5
previous_page: https://swapi.dev/api/planets/?page=3
number_of_results: 10
max_page: 6
number_of_people: 60
next_page: https://swapi.dev/api/planets/?page=6
previous_page: https://swapi.dev/api/planets/?page=4
number_of_results: 10
max_page: 6
number_of_people: 60
next_page: None
previous_page: https://swapi.dev/api/planets/?page=5
number_of_results: 10
max_page: 6

Extract the data for starships.

In [14]:
response3 = requests.get('https://swapi.dev/api/starships/')
data3 = response3.json()
data3['count']

36

In [15]:
df3 = pd.DataFrame(data3['results'])
df3

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",n/a,36000000,2 years,2.0,60,Star Destroyer,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],[https://swapi.dev/api/films/1/],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,n/a,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],[https://swapi.dev/api/films/1/],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"[https://swapi.dev/api/people/13/, https://swa...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/
5,Y-wing,BTL Y-wing,Koensayr Manufacturing,134999,14,1000km,2,0,110,1 week,1.0,80,assault starfighter,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-12T11:00:39.817000Z,2014-12-20T21:23:49.883000Z,https://swapi.dev/api/starships/11/
6,X-wing,T-65 X-wing,Incom Corporation,149999,12.5,1050,1,0,110,1 week,1.0,100,Starfighter,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-12T11:19:05.340000Z,2014-12-20T21:23:49.886000Z,https://swapi.dev/api/starships/12/
7,TIE Advanced x1,Twin Ion Engine Advanced x1,Sienar Fleet Systems,unknown,9.2,1200,1,0,150,5 days,1.0,105,Starfighter,[https://swapi.dev/api/people/4/],[https://swapi.dev/api/films/1/],2014-12-12T11:21:32.991000Z,2014-12-20T21:23:49.889000Z,https://swapi.dev/api/starships/13/
8,Executor,Executor-class star dreadnought,"Kuat Drive Yards, Fondor Shipyards",1143350000,19000,n/a,"279,144",38000,250000000,6 years,2.0,40,Star dreadnought,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-15T12:31:42.547000Z,2014-12-20T21:23:49.893000Z,https://swapi.dev/api/starships/15/
9,Rebel transport,GR-75 medium transport,"Gallofree Yards, Inc.",unknown,90,650,6,90,19000000,6 months,4.0,20,Medium transport,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-15T12:34:52.264000Z,2014-12-20T21:23:49.895000Z,https://swapi.dev/api/starships/17/

In [16]:
count = 3

while True:
    if count > 0:
        response3 = requests.get(data3['next'])
        data3 = response3.json()
        number_of_people = data3['count']
        next_page = data3['next']
        previous_page = data3['previous']
        number_of_results = len(data3['results'])
        max_page = math.ceil(number_of_people / number_of_results)
        print(f'number_of_people: {number_of_people}')
        print(f'next_page: {next_page}')
        print(f'previous_page: {previous_page}')
        print(f'number_of_results: {number_of_results}')
        print(f'max_page: {max_page}')
        df3 = pd.concat([df3, pd.DataFrame(data3['results'])])
        count -= 1
    else:
        break

number_of_people: 36
next_page: https://swapi.dev/api/starships/?page=3
previous_page: https://swapi.dev/api/starships/?page=1
number_of_results: 10
max_page: 4
number_of_people: 36
next_page: https://swapi.dev/api/starships/?page=4
previous_page: https://swapi.dev/api/starships/?page=2
number_of_results: 10
max_page: 4
number_of_people: 36
next_page: None
previous_page: https://swapi.dev/api/starships/?page=3
number_of_results: 6
max_page: 6

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 5
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    36 non-null     object
 1   model                   36 non-null     object
 2   manufacturer            36 non-null     object
 3   cost_in_credits         36 non-null     object
 4   length                  36 non-null     object
 5   max_atmosphering_speed  36 non-null     object
 6   crew                    36 non-null     object
 7   passengers              36 non-null     object
 8   cargo_capacity          36 non-null     object
 9   consumables             36 non-null     object
 10  hyperdrive_rating       36 non-null     object
 11  MGLT                    36 non-null     object
 12  starship_class          36 non-null     object
 13  pilots                  36 non-null     object
 14  films                   36 non-null     object
 15  created                 36 non-null     object
 16  edited                  36 non-null     object
 17  url                     36 non-null     object
dtypes: object(18)
memory usage: 5.3+ KB

Save the data in your files to local csv files so that it will be faster to access in the future.

In [18]:
star_wars_people = df
star_wars_planets = df2
star_wars_starships = df3

df.to_csv('star_wars_people.csv')
df.to_csv('star_wars_planets.csv')
df.to_csv('star_wars_starships.csv')

Combine the data from your three separate dataframes into one large dataframe.

In [34]:
star_wars_data = pd.concat([star_wars_people, star_wars_planets, star_wars_starships], axis=0)

df.to_csv('star_wars_data.csv')
star_wars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 5
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    178 non-null    object
 1   height                  82 non-null     object
 2   mass                    82 non-null     object
 3   hair_color              82 non-null     object
 4   skin_color              82 non-null     object
 5   eye_color               82 non-null     object
 6   birth_year              82 non-null     object
 7   gender                  82 non-null     object
 8   homeworld               82 non-null     object
 9   films                   178 non-null    object
 10  species                 82 non-null     object
 11  vehicles                82 non-null     object
 12  starships               82 non-null     object
 13  created                 178 non-null    object
 14  edited                  178 non-null    object
 15  url                     178 non-null    object
 16  rotation_period         60 non-null     object
 17  orbital_period          60 non-null     object
 18  diameter                60 non-null     object
 19  climate                 60 non-null     object
 20  gravity                 60 non-null     object
 21  terrain                 60 non-null     object
 22  surface_water           60 non-null     object
 23  population              60 non-null     object
 24  residents               60 non-null     object
 25  model                   36 non-null     object
 26  manufacturer            36 non-null     object
 27  cost_in_credits         36 non-null     object
 28  length                  36 non-null     object
 29  max_atmosphering_speed  36 non-null     object
 30  crew                    36 non-null     object
 31  passengers              36 non-null     object
 32  cargo_capacity          36 non-null     object
 33  consumables             36 non-null     object
 34  hyperdrive_rating       36 non-null     object
 35  MGLT                    36 non-null     object
 36  starship_class          36 non-null     object
 37  pilots                  36 non-null     object
dtypes: object(38)
memory usage: 54.2+ KB

In [33]:
star_wars_data.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [21]:
csv_export_url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

In [40]:
OpenPowerSystems_df = pd.read_csv(csv_export_url)
#print the first 3 rows
OpenPowerSystems_df.sample(10)

            Date  Consumption     Wind   Solar  Wind+Solar
1093  2008-12-29     1198.295      NaN     NaN         NaN
1526  2010-03-07     1216.408   62.874     NaN         NaN
1954  2011-05-09     1395.540  113.356     NaN         NaN
1327  2009-08-20     1287.016      NaN     NaN         NaN
2373  2012-07-01      980.695   86.751  90.800     177.551
1824  2010-12-30     1332.367   15.745     NaN         NaN
3186  2014-09-22     1430.587  281.634  76.929     358.563
2732  2013-06-25     1255.952  153.237  78.616     231.853
2914  2013-12-24     1128.997  535.335  25.286     560.621
3972  2016-11-16     1574.039  389.678  11.126     400.804

In [41]:
OpenPowerSystems_df = OpenPowerSystems_df.set_index('Date').sort_index()
df.to_csv('OpenPowerSystems_df.csv')

In [42]:
OpenPowerSystems_df.sample(10)

            Consumption     Wind    Solar  Wind+Solar
Date
2011-09-02     1354.447   14.966      NaN         NaN
2014-01-26     1302.735  184.365   15.070     199.435
2006-12-08     1549.681      NaN      NaN         NaN
2006-08-19     1095.066      NaN      NaN         NaN
2013-08-02     1314.423   78.589  190.983     269.572
2016-05-04     1430.136   84.961  174.185     259.146
2013-05-22     1303.334  284.960   62.261     347.221
2009-12-28     1211.791      NaN      NaN         NaN
2016-05-30     1423.574  246.019  121.137     367.156
2009-03-29     1049.947      NaN      NaN         NaN

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
def acquire_people_df():
    response = requests.get('https://swapi.dev/api/people')
    data = response.json()
    df = pd.DataFrame(data['results'])
    
    
    count = 8

    while True:
        if count > 0:
            response = requests.get(data['next'])
            data = response.json()
            number_of_people = data['count']
            next_page = data['next']
            previous_page = data['previous']
            number_of_results = len(data['results'])
            max_page = math.ceil(number_of_people / number_of_results)
            print(f'number_of_people: {number_of_people}')
            print(f'next_page: {next_page}')
            print(f'previous_page: {previous_page}')
            print(f'number_of_results: {number_of_results}')
            print(f'max_page: {max_page}')
            df = pd.concat([df, pd.DataFrame(data['results'])])
            count -= 1
        else:
            break
    return df

In [ ]:
df = acquire_people_df()
df.head()

In [ ]:
def acquire_planets_df():
    response2 = requests.get('https://swapi.dev/api/planets')
    data2 = response2.json()
    df2 = pd.DataFrame(data2['results'])
    
    
    count = 5

    while True:
        if count > 0:
            response2 = requests.get(data2['next'])
            data2 = response2.json()
            number_of_people = data2['count']
            next_page = data2['next']
            previous_page = data2['previous']
            number_of_results = len(data2['results'])
            max_page = math.ceil(number_of_people / number_of_results)
            print(f'number_of_people: {number_of_people}')
            print(f'next_page: {next_page}')
            print(f'previous_page: {previous_page}')
            print(f'number_of_results: {number_of_results}')
            print(f'max_page: {max_page}')
            df2 = pd.concat([df2, pd.DataFrame(data2['results'])])
            count -= 1
        else:
            break
    return df2

In [ ]:
df2 = acquire_planets_df()
df2.head()

In [ ]:
def acquire_starships_df():
    response3 = requests.get('https://swapi.dev/api/starships/')
    data3 = response3.json()
    df3 = pd.DataFrame(data3['results'])
    count = 3

    while True:
        if count > 0:
            response3 = requests.get(data3['next'])
            data3 = response3.json()
            number_of_people = data3['count']
            next_page = data3['next']
            previous_page = data3['previous']
            number_of_results = len(data3['results'])
            max_page = math.ceil(number_of_people / number_of_results)
            print(f'number_of_people: {number_of_people}')
            print(f'next_page: {next_page}')
            print(f'previous_page: {previous_page}')
            print(f'number_of_results: {number_of_results}')
            print(f'max_page: {max_page}')
            df3 = pd.concat([df3, pd.DataFrame(data3['results'])])
            count -= 1
        else:
            break
    return df3

In [ ]:
df3 = acquire_starships_df()
df3.head()